footer.footer-area
  .footer-top
    .container
      .row
        .col-md-4.col-sm-6.col-xs-12
          .footer-widget.footer-logo
            img(src='/images/logo-footer.png', alt='')
            p
              | Supporting Steem community is our goal and we are going to do everything we can to make it growing with quality accounts.

        .col-md-2.col-sm-6.col-xs-12
          .footer-widget.footer-menu
            h2 Important Links
            ul
              li
                a(href='/') Home Page
              li
                a(href='https://steemit.com') Steemit
              li
                a(href='https://discord.gg/8NktdFh') Contact on Discord
        .col-md-2.col-md-offset-1.col-sm-6.col-xs-12
          .footer-widget.footer-menu
            h2 Our Partners
            ul
              li
                a(href='https://engrave.website') ENGRAVE
              li
                a(href='https://steemprojects.com') SteemProjects

        .col-md-2.col-md-offset-1.col-sm-6.col-xs-12
          .footer-widget.footer-menu
            h2 Support Us
            ul
              li
                a(href='https://steemconnect.com/sign/transfer?to=steemfounders&amount=10.000%20SBD') Send 10 SBD
              li
                a(href='https://steemconnect.com/sign/transfer?to=steemfounders&amount=10.000%20STEEM') Send 10 STEEM

  .footer-bottom
    .container
      .row
        .col-xs-12
          .copyright.text-right
            p
              | Copyright 
              span 2018
                  | . All Right Reserved