extends website.pug

block header
  title Steemfounders

append scripts
    script(src='/js/main.js')

block body
  body
    include partials/navbar.pug


    .hero-area
      .particleground
      .hero-items
        .container
          .row
            .col-md-6.col-sm-10.col-xs-12
              h2 Steem needs quality accounts. Steem needs you!
              p
                | But creating Steem account is taking too long time or is expensive. We are here to help you creating account in even few hours totally for free. You just need to tell something about you.
              ul
                li
                  a(href='#introduce') Introduce Yourself
                li
                  a(href='https://signup.steemit.com/')
                    | Or use Steemit
                    i.fa.fa-long-arrow-right
            .col-md-6.text-right.hidden-sm.hidden-xs
              img(src='/images/hero-img.png', alt='')

    .pricing-table-area
      .container
        .row
          .col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1.col-xs-12
            .section-title.text-center
              h2 How it works
              p
                | We care about Steem and new users. And we know that waiting for new account is demotivating so we wan't to help everyone, including Steem community and new users. Our moderators works totally for free.
        .row
          .col-md-4.col-sm-6.col-xs-12
            .service-wrap.text-center
              h3 You introduce yourself
              img(src='/images/service/1.png', alt='')
              p
                | Steem users like to know who they talking to. Just 
                strong write something about you in nice looking post
                |  and we gonna publish it on our account and let you earn some rewards!
              // <a href="single-service.html">Read more</a>
          .col-md-4.col-sm-6.col-xs-12
            .service-wrap.text-center
              h3 We fund your new account
              img(src='/images/service/2.png', alt='')
              p
                | If your post is looking good, we take the risk and fund new account especially for you. You will receive all access keys for this account. It will be 
                strong YOUR
                |  account.
              // <a href="single-service.html">Read more</a>
          .col-md-4.col-sm-6.col-xs-12
            .service-wrap.text-center
              h3 You receive all rewards
              img(src='/images/service/3.png', alt='')
              p
                | After 7 days, when your introducing post will be already settled up, 
                strong we transfer all earned tokens to your account
                | . As we said - we're doing it for free because we care.
              // <a href="single-service.html">Read more</a>
    // service-area end
    // quote-area start
    .quote-area
      .particleground
      .container
        .row
          .col-md-7
            .quote-wrap
              p
                | It's all about creating a group of people wanting to post great content. It really has to work as a community. It's not an individualistic place where you are out to find monetary gains you must really be looking to contribute great content and also read great content for the sake of the site.
    // quote-area end
    // fanfact-area start
    .fanfact-area.pricing-table-area
      .container
        .row
          .col-md-4.col-sm-4.col-xs-12
            .fanfact-wrap
              h2.counter= account_number
              p Accounts funded
          .col-md-4.col-sm-4.col-xs-12
            .fanfact-wrap
              h2.counter= steem_transfered
              p STEEM tokens transfered
          .col-md-4.col-sm-4.col-xs-12
            .fanfact-wrap
              h2.counter= sbd_transfered
              p SBD tokens transfered
    // fanfact-area end
    // expert-area start
    .expert-area
      .container
        .row
          .col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1.col-xs-12
            .section-title.text-center
              h2 Latest posts
        .row
          .col-md-4.col-sm-6.col-xs-12
            .blog-wrap
              .blog-img
                img(src='/images/1.jpg', alt='')
              .blog-content
                h3 My name is Curie, and I want to make Steem great again!
                p
                  | Increase number backlinks and inbound another seo tam mobile search surpassed was reported that google.
                a(href='#') Read on Steemit
          .col-md-4.col-sm-6.col-xs-12
            .blog-wrap
              .blog-img
                img(src='/images/2.jpg', alt='')
              .blog-content
                h3 How to booste your traffic your blog & destroy competition.
                p
                  | Increase number backlinks and inbound another seo tam mobile search surpassed was reported that google.
                a(href='#') Read on Steemit
          .col-md-4.col-sm-6.col-xs-12
            .blog-wrap
              .blog-img
                img(src='/images/3.jpg', alt='')
              .blog-content
                h3 Decphering marketing lingo for small business owners.
                p
                  | Increase number backlinks and inbound another seo tam mobile search surpassed was reported that google.
                a(href='#') Read on Steemit

    #introduce.pricing-table-area
      .container
        .row
          .col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1.col-xs-12
            .section-title.text-center
              h2 Introduce yourself
              p
                | First of all you need to authenticate account. Don't worry, we hate spam too, so we will use your e-mail only for sending information about accepting your post and creating account. It won't be shared with anyone. Never.
        .row
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-2.col-xs-12
            .newsletter-wrap
              form#register
                input#new-mail(type='email', placeholder='Your email here', name='email')
                button(type='submit', name='button') Send activation link
    
    block footer
      include partials/footer.pug