doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Position - Home One
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', type='image/png', href='/images/favicon.png')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/animate.css')
    link(rel='stylesheet', href='/css/owl.carousel.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/magnific-popup.css')
    link(rel='stylesheet', href='/css/slicknav.min.css')
    link(rel='stylesheet', href='/css/flaticon.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/responsive.css')
    script(src='/js/vendor/modernizr-2.8.3.min.js')
  body
    //if lt IE 8
      p.browserupgrade
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    // header-area start
    header.header-area
      .header-bottom
        .container
          .row
            .col-md-2.col-sm-8.col-xs-12
              .logo
                a(href='/')
                  img(src='/images/logo-white.png', alt='')
            .col-md-8.hidden-sm.hidden-xs
              .mainmenu.text-right
                ul#navigation
                  li
                    a(href='/') Home
                  li
                    a(href='#') About Steem
                  li
                    a(href='#') About us
                  li
                    a(href='#') Contact
            .col-md-2.col-sm-3.col-xs-9
              .free-seo.text-right
                button(type='button', name='button') Login and check
            .col-sm-1.clear.col-xs-3.hidden-md.hidden-lg
              .responsive-menu-wrap.floatright
    // header-area end
    // slider-area start
    .hero-area
      .particleground
      .hero-items
        .container
          .row
            .col-md-6.col-sm-10.col-xs-12
              h2 Steem needs quality accounts. Steem needs you!
              p
                | But creating Steem account is taking too long time or is expensive. We are here to help you creating account in even few hours totally for free. You just need to tell something about you.
              ul
                li
                  a(href='#introduce') Introduce Yourself
                li
                  a(href='#')
                    | Or use Steemit
                    i.fa.fa-long-arrow-right
            .col-md-6.text-right.hidden-sm.hidden-xs
              img(src='http://irsfoundation.com/tf/html/position-preview/position/assets/images/hero-img.png', alt='')
    // slider-area end
    // service-area start
    .pricing-table-area
      .container
        .row
          .col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1.col-xs-12
            .section-title.text-center
              h2 How it works
              p
                | We care about Steem and new users. And we know that waiting for new account is demotivating so we wan't to help everyone, including Steem community and new users. Our moderators works totally for free.
        .row
          .col-md-4.col-sm-6.col-xs-12
            .service-wrap.text-center
              h3 You introduce yourself
              img(src='/images/service/1.png', alt='')
              p
                | Steem users like to know who they talking to. Just 
                strong write something about you in nice looking post
                |  and we gonna publish it on our account and let you earn some rewards!
              // <a href="single-service.html">Read more</a>
          .col-md-4.col-sm-6.col-xs-12
            .service-wrap.text-center
              h3 We fund your new account
              img(src='/images/service/2.png', alt='')
              p
                | If your post is looking good, we take the risk and fund new account especially for you. You will receive all access keys for this account. It will be 
                strong YOUR
                |  account.
              // <a href="single-service.html">Read more</a>
          .col-md-4.col-sm-6.col-xs-12
            .service-wrap.text-center
              h3 You receive all rewards
              img(src='/images/service/3.png', alt='')
              p
                | After 7 days, when your introducing post will be already settled up, 
                strong we transfer all earned tokens to your account
                | . As we said - we're doing it for free because we care.
              // <a href="single-service.html">Read more</a>
    // service-area end
    // quote-area start
    .quote-area
      .particleground
      .container
        .row
          .col-md-7
            .quote-wrap
              p
                | It's all about creating a group of people wanting to post great content. It really has to work as a community. It's not an individualistic place where you are out to find monetary gains you must really be looking to contribute great content and also read great content for the sake of the site.
    // quote-area end
    // fanfact-area start
    .fanfact-area.pricing-table-area
      .container
        .row
          .col-md-4.col-sm-4.col-xs-12
            .fanfact-wrap
              h2.counter 15
              p Accounts funded
          .col-md-4.col-sm-4.col-xs-12
            .fanfact-wrap
              h2.counter 42
              p STEEM tokens transfered
          .col-md-4.col-sm-4.col-xs-12
            .fanfact-wrap
              h2.counter 55
              p SBD tokens transfered
    // fanfact-area end
    // expert-area start
    .expert-area
      .container
        .row
          .col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1.col-xs-12
            .section-title.text-center
              h2 Latest posts
        .row
          .col-md-4.col-sm-6.col-xs-12
            .blog-wrap
              .blog-img
                img(src='http://irsfoundation.com/tf/html/position-preview/position/assets/images/blog/1.jpg', alt='')
              .blog-content
                h3 My name is Curie, and I want to make Steem great again!
                p
                  | Increase number backlinks and inbound another seo tam mobile search surpassed was reported that google.
                a(href='#') Read on Steemit
          .col-md-4.col-sm-6.col-xs-12
            .blog-wrap
              .blog-img
                img(src='http://irsfoundation.com/tf/html/position-preview/position/assets/images/blog/2.jpg', alt='')
              .blog-content
                h3 How to booste your traffic your blog & destroy competition.
                p
                  | Increase number backlinks and inbound another seo tam mobile search surpassed was reported that google.
                a(href='#') Read on Steemit
          .col-md-4.col-sm-6.col-xs-12
            .blog-wrap
              .blog-img
                img(src='http://irsfoundation.com/tf/html/position-preview/position/assets/images/blog/3.jpg', alt='')
              .blog-content
                h3 Decphering marketing lingo for small business owners.
                p
                  | Increase number backlinks and inbound another seo tam mobile search surpassed was reported that google.
                a(href='#') Read on Steemit
    // expert-area end
    // pricing-table-area start
    #introduce.pricing-table-area
      .container
        .row
          .col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1.col-xs-12
            .section-title.text-center
              h2 Introduce yourself
              p
                | First of all you need to authenticate account. Don't worry, we hate spam too, so we will use your e-mail only for sending information about accepting your post and creating account. It won't be shared with anyone. Never.
        .row
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-2.col-xs-12
            .newsletter-wrap
              form(action='#')
                input(type='text', placeholder='Your email here')
                button(type='button', name='button') Send activation link
    // pricing-table-area end
    footer.footer-area
      .footer-top
        .container
          .row
            .col-md-4.col-sm-6.col-xs-12
              .footer-widget.footer-logo
                img(src='/images/logo-footer.png', alt='')
                p
                  | Supporting Steem community is our goal and we are going to do everything we can to make it growing with quality accounts.
                //
                  <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-skype"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
            .col-md-2.col-sm-6.col-xs-12
              .footer-widget.footer-menu
                h2 Important Link
                ul
                  li
                    a(href='#') Home Page
                  li
                    a(href='#') Steemit
                  // <li><a href="#">Our Services</a></li>
                  li
                    a(href='#') Contact Us
            .col-md-2.col-md-offset-1.col-sm-6.col-xs-12
              .footer-widget.footer-menu
                h2 Our Partners
                ul
                  li
                    a(href='#') Steemit Inc
                  li
                    a(href='#') Curie
                  li
                    a(href='#') SteemSTEM
            .col-md-2.col-md-offset-1.col-sm-6.col-xs-12
              .footer-widget.footer-menu
                h2 Support Us
                ul
                  li
                    a(href='#') Send SBD
                  li
                    a(href='#') Send STEEM
                  li
                    a(href='#') Delegate some SP
                  // <li><a href="#">Feeds</a></li>
      .footer-bottom
        .container
          .row
            .col-xs-12
              .copyright.text-right
                p
                  | Copyright 
                  span 2018
                  | . All Right Reserved
    // all js here
    // jquery latest version
    script(src='/js/vendor/jquery-1.12.4.min.js')
    // bootstrap js
    script(src='/js/bootstrap.min.js')
    // owl.carousel.2.0.0-beta.2.4 css
    script(src='/js/owl.carousel.min.js')
    // counterup.main.js
    script(src='/js/counterup.main.js')
    // isotope.pkgd.min.js
    script(src='/js/imagesloaded.pkgd.min.js')
    // isotope.pkgd.min.js
    script(src='/js/isotope.pkgd.min.js')
    // jquery.waypoints.min.js
    script(src='/js/jquery.waypoints.min.js')
    // jquery.slicknav.min.js
    script(src='/js/jquery.slicknav.min.js')
    // jquery.magnific-popup.min.js
    script(src='/js/jquery.magnific-popup.min.js')
    // jquery.particleground.min.js
    script(src='/js/jquery.particleground.min.js')
    // wow js
    script(src='/js/wow.min.js')
    // plugins js
    script(src='/js/plugins.js')
    // main js
    script(src='/js/scripts.js')
