doctype html
html.no-js(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    
        block stylesheets
            link(rel='shortcut icon', type='image/png', href='/images/favicon.png')
            link(rel='stylesheet', href='/css/bootstrap.min.css')
            link(rel='stylesheet', href='/css/animate.css')
            link(rel='stylesheet', href='/css/owl.carousel.css')
            link(rel='stylesheet', href='/css/font-awesome.min.css')
            link(rel='stylesheet', href='/css/magnific-popup.css')
            link(rel='stylesheet', href='/css/slicknav.min.css')
            link(rel='stylesheet', href='/css/flaticon.css')
            link(rel='stylesheet', href='/css/styles.css')
            link(rel='stylesheet', href='/css/responsive.css')
            link(rel='stylesheet', href='/css/parsley.css')

        block header
    
        script(src='/js/vendor/modernizr-2.8.3.min.js')

    #login-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='display: none;')
        .modal-dialog
            .loginmodal-container
                h1 Login to Your Account
                br
                form#login
                    input(type='email', name='email', placeholder='E-mail')
                    input(type='password', name='password', placeholder='Password')
                    input.login.loginmodal-submit(type='submit', name='login', value='Login')
                .login-help
                    a(href='/#introduce') Register
                    |  - 
                    a(href='#') Forgot Password

    block body
  
    block scripts
        script(src='/js/vendor/jquery-1.12.4.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/bootstrap-notify.js')
        script(src='/js/owl.carousel.min.js')
        script(src='/js/counterup.main.js')
        script(src='/js/imagesloaded.pkgd.min.js')
        script(src='/js/isotope.pkgd.min.js')
        script(src='/js/jquery.waypoints.min.js')
        script(src='/js/jquery.slicknav.min.js')
        script(src='/js/jquery.magnific-popup.min.js')
        script(src='/js/jquery.particleground.min.js')
        script(src='/js/wow.min.js')
        script(src='/js/plugins.js')
        script(src='/js/scripts.js')
        script(src='/js/parsley.min.js')
